<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/authentication_header') %>

</head>
<body>

    <%- include('./partials/authentication_nav') %>

    <!-- Error message in Login -->
    <% if(error_message != null){ %>
        <p id="error_message"><%= error_message %></p>
    <% } %>

    <h1>Register</h1>
    <form id="registration_form" class="authentication_form" action="validate_registration" method="post">
        <label for="email_address">Email address:</label>
        <input type="text" id="email_address" name="email_address" />
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" />
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" />
        <input type="submit" id="login_btn" name="register" value="Register"/>
    </form>
    <a href="/login">Already have an account? Login</a>

</body>
</html>